#navbarNavDropdown {
    justify-content: flex-end;
}

.jumbotron .jumbotron-fluid {
    background-image: url("carmenjohnson512.github.io/assets/wickerchairHeadshot.jpg");
    text-align: center;
    color: white;
    height: 500px;
}