body {
    font-family: 'Barlow', sans-serif;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-image: url("seatedDotsProfileRight.jpg");
    color: white;
  }

  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
